* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #11B0F3;
  height : 10vh;
}

h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex li {
  list-style: none;
  margin-right: 10%;
  padding-top: 25px;
}

.img {
  height: 60px;
  margin-left: 20px;
}


.home {
  background-image: url(../public/assets/img/wallpaper.png);
  height: 80vh;
}
.home h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 4rem;
}

.home ul {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.img-home {
  display: flex;
  justify-content: space-around;
}

.size-img {
  height: 300px;
  width: 300px;
}

.main {
  background-image: url(../public/assets/img/wallpaper.png);
}

.img-profil {
  height: 600px;
  width: 600px;
}

article {
  text-align: center;
  padding: 10px;
}

.border {
  border: 3px solid violet;
  width: 50%;
  margin: 0 auto;
  background-color: #11B0F3;
}

h2 {
  color:white;
  font-size: 2rem;
}

p {
  color:white;
  font-size: 1.5rem;
}

footer {
  background-color: #11B0F3;
  height: 10vh;
  text-align: center;
  text-transform: uppercase;
}

ul {
  color:white;
  text-align: center;
}

.bg-about {
  background-image: url(../public/assets/img/wallpaper.png);
  height: 80vh;
}

form {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  padding-top:200px;
}

footer p {
  padding-top: 25px;
}